<header class="header">

	{% if site.authorInfo.picture %}
		<div class="avatar">
			<img src="{{ site.authorInfo.picture | prepend: site.baseurl }}"/>
		</div>
	{% endif %}

	<div class="navigation">
	  <a href="/" class="logo">{{ site.title }}</a>

	  <ul class="menu">
      <li class="menu__entry"><a href="{{ '/about.html' | prepend: site.baseurl }}">about</a></li>

      <li class="menu__entry"><a href="{{ '/projects.html' | prepend: site.baseurl }}">projects</a></li>
	  </ul>
	</div>

	<ul class="social-links">
		{% if site.authorInfo.github %}
			<a href="https://github.com/{{ site.authorInfo.github }}" class="social-links__entry" target="_blank">
			  <i class="fa fa-github"></i>
			</a>
		{% endif %}

		{% if site.authorInfo.twitter %}
			<a href="https://twitter.com/{{ site.authorInfo.twitter }}" class="social-links__entry" target="_blank">
			  <i class="fa fa-twitter"></i>
			</a>
		{% endif %}
	</ul>
</header>
