---
layout: default
---
{% include category/title.html %}

<ul class="list-posts">
    {% assign empty_category = true %}
    {% for post in site.posts reversed %}
        {% if post.categories contains page.category %}
						{% include post-li.html %}
            {% assign empty_category = false %}
        {% endif %}
    {% endfor %}

    {% if empty_category %}
        <li class="empty-post-list">
            It seems that there are no articles on this category,
            please go back <a href="/">/</a> to see the full list of articles.
        </li>
    {% endif %}
</ul>

{% include page/explore.html %}
